
    @charset "utf-8";

header {
	width:100%;
	position:fixed;
    height: 70px;
 	top:0;
 	background-color:rgba(0,0,0,0.5);

}

.header-container {
	height:60px;
	line-height:50px;
	display:flex;
	justify-content:space-between;
	margin-right:50px;

}




.header-container ul {
    display:flex;
    list-style: none;
}

.header-container li {
	margin-right:20px;
}

.header-container li:last-child {
	margin-right:0;
}

.header-container a {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
}
.header-container a:hover {
	opacity:0.7;
}

.keyvisual {
	height:600px;
	background-image:url(S__128049157.jpg);
	background-repeat:none;
	background-size:cover;
	background-position:center;
}

.keyvisual-container {
	height:600px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	
	color:#ffffff;
	text-shadow:0 2px 5px rgba(0,0,0,5);
}

.keyvisual-container h1{
	font-weight:bold;
	font-size:60px;
	margin: auto;
}

.keyvisual-container p{
	font-size:24px;
	margin:auto;
}

.about-container{
 background-color:#000;
 padding: 50px;
}

.about-container p{
color:seashell;
text-align: center;
display:flex;
flex-direction:column;
}

.members-container{
    height: 400px;

}

.members-container h2{
    text-align: center;
    font-size: 40px;

}
.members-container ul{
    display:flex;
    justify-content: center;
}
.members-container li{
    width: 280px;
    text-align: center;
    background-color:#eee;
    padding: 10px;
    margin-right: 20px;
    border-radius: 3px;
    list-style: none;

}
.members-image{
    width:200px;
    height:200px;
    
}

.members-image p{
    padding-top:10px;

}
.video{
    background-repeat: none;
    background-image: url(milky-way-2695569__340.jpg);
    background-position: center;
    background-size: cover;
    height:450px;
    margin-bottom: 0;
}
.video-container{
    padding:50px;
    margin:0 auto;
}
.video-container h2{
    color:#fff;
    font-size:40px;
    text-align: center;
    font-weight: bold;
    
   
}
.video-container ul{
    display: flex;
    justify-content: center;
}
.video-container li{
    width: 400px;
    height: 200px;
    background-color: #fff;
    margin-right: 20px;
}
.access{
  background-color: black;
  height: 600px;
}
.access-container h2{
    font-size: 40px;
    font-weight: bold;
    padding:30px;
    text-align: center;
    color:blanchedalmond;
    font-weight: bolder;
}
.access-map {
    width: 100%;
    height: 400px;
    
    
}
.access-container .access-map iframe{
   
    width: 100%;
    height: 100%;


}
footer{
    height:100px;
    line-height: 50px;
    text-align: center;
    background-color:#000;
    color:seashell;
}



